.map-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0; /* Añadiendo margen superior e inferior */
}

@media (max-width: 768px) {
  .map-container {
    width: 100%; /* Asegurando que el mapa ocupe todo el ancho en pantallas pequeñas */
  }
}

